doctype html
html(lang="en")
  head
    title= "Imtech uploader"
  body(bgcolor="#222222")
    table(width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#f8f8f8;")
      tbody
        tr
          td(height="30" bgcolor="#222222")
        tr
          td(align="left" bgcolor="#222222")
            img(src="http://imlink.imtechgraphics.com/cfusion/CFIDE/intranet/images/imtech-graphics-color_KO.png" alt="logo" width="128")
        tr
          td(height="30" bgcolor="#222222")
        tr
          td(align="center" valign="middle" style="color:#ffffff; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; text-transform:uppercase; padding:20px 0; background-color:#42c0d3;")  Your Upload Is Complete!
        tr
          td(height="40")
        tr
          td(align="left" valign="middle" style="color:#444444; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; line-height:20px; padding:0 20px;")
            h3 #{record.message}
        tr
          td &nbsp;
        tr
          td(align="left" valign="middle" style="color:#444444; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; line-height:20px; padding:0 20px;")
            p
              b Name:
              span  #{record.name}
              br
              b Company:
              span  #{record.company}
              br
              b Job #:
              span  #{record.job}
              br
              if record.comments
                b Comments:
                p #{record.comments}

            strong Files Uploaded
            br
            ul(style='text-align:left')
            each file in record.files
              li #{file.filename}
        tr
          td &nbsp;
        tr
          td(height="50")
        tr
          td(height="30" bgcolor="#222222")
        tr
          td(align="center" bgcolor="#222222")
            table(width="100%" border="0" cellspacing="0" cellpadding="0" align="center")
              tbody
                tr
                  td(align="left" valign="top" style="color:#ffffff; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:11px;") © ImtechGraphics, 2015
                  td(align="right" valign="top" style="color:#ffffff; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:11px; line-height:20px;")
                    span 545 DELL ROAD,
                    br
                    span CARLSTADT, NJ 07072
                    br
                    span Call 800.468.3240
                tr
              tbody
            table
          td
        tr
          td(height="50" bgcolor="#222222")
