doctype html
html(lang="en")
	head
		title= "Imtech uploader" 
	body(bgcolor="#222222")
		table(width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#f8f8f8;")
			tbody
				tr
					td(height="30" bgcolor="#222222")
				tr
					td(align="left" bgcolor="#222222")
						img(src="http://imlink.imtechgraphics.com/cfusion/CFIDE/intranet/images/imtech-graphics-color_KO.png" alt="logo" width="128")
				tr
					td(height="30" bgcolor="#222222")
				tr
					td(align="center" valign="middle" style="color:#ffffff; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; text-transform:uppercase; padding:20px 0; background-color:#42c0d3;")  Your Upload Verification Code	
				tr
					td(height="40")
				tr
					td(align="center" valign="middle" style="color:#444444; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; line-height:20px; padding:0 20px;")
						p Your verification code has been created, you can use your code to perform your upload
				tr
					td
						&nbsp;
				tr
					td(align="center" valign="middle")
						div(div style="background-color:#F5403B; display:table; border-radius:5px; color:#ffffff; font-family:Open Sans, Arial, sans-serif; font-size:13px; text-transform:uppercase; font-weight:bold; padding:7px 12px; text-align:center; text-decoration:none; width:140px; -webkit-text-size-adjust:none; margin:auto;")
							a(href="http://imlinkup.stg.imtechgraphics.com/#{code}" style="color:#ffffff; text-decoration:none;") #{code}
				tr
					td
						&nbsp;
				tr
					td(align="center" valign="middle" style="color:#444444; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; text-transform:uppercase;") 
						
						p OR Copy - Paste the link
				tr
					td
						&nbsp;
				tr
					td(align="center" valign="middle" style="color:#444444; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px;") 
						a(href="http://imlinkup.stg.imtechgraphics.com/#{code}" style="color:#0094aa;") http://imlinkup.stg.imtechgraphics.com/#{code}
				tr
					td
						&nbsp;
				tr
					td(align="center" valign="middle" style="color:#444444; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:13px; padding:0 20px;") 
						p If you need help or have any questions, please email us at  
							a(href="mailto:support@imtehcgraphics.com" style="color:#0094aa;") support@imtehcgraphics.com
				tr
					td(height="50")
				tr
					td(height="30" bgcolor="#222222")
				tr
					td(align="center" bgcolor="#222222")
						table(width="100%" border="0" cellspacing="0" cellpadding="0" align="center")
							tbody
								tr
									td(align="left" valign="top" style="color:#ffffff; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:11px;") © ImtechGraphics, 2015
	
									td(align="right" valign="top" style="color:#ffffff; font-family:Open Sans, Arial, Helvetica, sans-serif; font-size:11px; line-height:20px;")  
										span 545 DELL ROAD, 
										br 
										span CARLSTADT, NJ 07072
										br
										span Call 800.468.3240
								tr
							tbody
						table
					td
				tr
	
				tr
					td(height="50" bgcolor="#222222")
				tr